.d-inline-block.align-middle
  - resource_class.omniauth_providers.each do |provider|
    = link_to omniauth_authorize_path(resource_name, provider), method: :post, class: "btn-social bs-#{provider} me-2 mb-2" do
      i.fa-brands.fa-2x class="fa-#{provider}" title="Sign in with #{provider}"