| $('#follow-area-#{@user.id}').html("#{j render('users/unfollow', user: @user)}");
| $("#follower_count_#{@user.id}").html(' #{@user.followers.count} ');
| $("#following_count_#{@user.id}").html(' #{@user.following.count} ');